// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color-dark: #121212;

* {
    font-family: 'Roboto', sans-serif;
    transition: color 1s, background-color 1s;
}

$primary-text-color: rgba(0, 0, 0, 87%);
$primary-text-color-dark: rgba(255, 255, 255, 87%);

$secondary-text-color: rgba(0, 0, 0, 60%);
$secondary-text-color-dark: rgba(255, 255, 255, 60%);

%text-color-shared {
    color: $primary-text-color;
}

%secondary-text-color-shared {
    color: $secondary-text-color;
}

.primary-text {
    color: $primary-text-color;
}

.title, h1 {
    @extend %text-color-shared;

    font-size: 60px;
    font-weight: lighter;
    text-space: -0.5px;
}

.subheading, h2 {
    @extend %text-color-shared;

    font-size: 34px;
    font-weight: normal;
}

.subtitle {
    @extend %secondary-text-color-shared;

    font-size: 20px;
    font-weight: normal;
}

h5 {
    @extend %text-color-shared;

    font-size: 20px;
    font-weight: normal;
}

.content-text, p {
    @extend %secondary-text-color-shared;

    font-size: 16px;
    font-weight: normal;
    text-space: 0.5px;
    margin-bottom: 16px;
}

.vertical-rule {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: transparent;
    border-radius: 2px;
    color: $primary-text-color;
    border-color: $background-color-dark;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

nav {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff;
}

.dark {
    background-color: $background-color-dark;

    nav {
        background-color: rgba(255, 255, 255, 5%);
    }

    .btn {
        background-color: transparent;
        border-color: $primary-text-color-dark;
        color: $primary-text-color-dark;
    }

    .primary-text {
        color: $primary-text-color-dark;
    }

    .vertical-rule {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    .content-text {
        color: $secondary-text-color-dark;
    }

    h5 {
        color: $primary-text-color-dark;
    }

    .subtitle {
        color: $secondary-text-color-dark;
    }

    .subheading, h2 {
        color: $primary-text-color-dark;
    }

    .title, h1 {
        color: $primary-text-color-dark;
    }
}
