<template>
    <div>
        <h2>{{data.title}}:</h2>
        <p class="content-text">{{data.text}}</p>
    </div>
</template>

<script>
    export default {
        name: "DigestDetailSection",
        props: ['data'],
    }
</script>
