<template>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row full-width">
                <div class="navbar-header col">
                    <span class="navbar-brand primary-text">Digest</span>
                </div>
                <div class="col-sm col-sm-auto m-auto">
                    <button class="btn" @click="toggle()">Toggle Dark Mode</button>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "DigestNavBar",
        methods: {
            toggle() {
                this.$emit('toggle');
            }
        }
    }
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

    .full-width {
        width: 100%;
    }

    .navbar-brand {
        font-family: 'DM Serif Text', serif;
        padding: 0;
        font-size: 25px;
    }
</style>
