<template>
    <div>
        <h5>Author:<span class="subtitle"> {{digestData.author}}</span></h5>
        <h5>Subject:<span class="subtitle"> {{digestData.category}}</span></h5>

        <h5>Rating:
            <span class="fa fa-star" v-for="n in stars" v-if="stars !== 0" :key="n"></span>
            <span class="fa fa-star-o" v-for="n in emptyStars" :key="n"></span>
        </h5>
    </div>
</template>
<script>
    export default {
        name: 'digest-information',
        props: ['digest-data'],
        data() {
            return {
                stars: +this.digestData.rating,
                emptyStars: 5 - this.digestData.rating,
            }
        }
    }
</script>
