<template>
    <div :class="{'dark': dark}">
        <digest-nav-bar @toggle="toggle"></digest-nav-bar>
        <div class="container pb-5 pt-2">
            <div class="row">
                <div class="col-md-3 vertical-rule">
                    <digest-information class="sticky-top mt-2" :digest-data="digest"></digest-information>
                </div>

                <div class="col-md-9" >
                    <h1>{{digest.title}}</h1>
                    <p class="subtitle">{{digest.summary}}</p>
                    <hr/>

                    <digest-detail-section
                        :data="section"
                        :key="section.title"
                        :name="section.title"
                        v-for="section in sections"></digest-detail-section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import DigestDetailSection from './DigestDetailSection';
    import DigestInformation from "./DigestInformation";
    import DigestNavBar from "./DigestNavBar";

    export default {
        name: "Digest",
        props: ['digest'],
        components: {DigestNavBar, DigestInformation, DigestDetailSection},
        data() {
            return {
                sections: [
                    {title: 'Doctrine', text: this.digest.doctrine},
                    {title: 'Facts', text: this.digest.facts},
                    {title: 'Issues Ratio', text: this.digest.issues_ratio},
                    {title: 'Dispositive', text: this.digest.dispositive},
                    {title: 'Other Notes', text: this.digest.note}
                ],
                dark: false
            }
        },
        methods: {
            toggle() {
                this.dark = !this.dark;
            }
        }
    }
</script>

<style scoped>
    .digest-information {
        top: 16px;
    }
</style>
